/*

background: #EFD6AC
primary:    #272932
secondary:  #DB504A
tertiary:   #638475

*/

@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

:root {
    --background-color: #efd6ac;
    --primary-color: #272932;
    --secondary-color: #db504a;
    --tertiary-color: #638475;
}

body {
    margin: 0 1em;
    padding: 0;
    height: 100%;
    font-family: "Playfair Display", serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    overflow: hidden;
    animation: fadeInAnimation ease 1s;
}

p {
    line-height: 1em;
    font-size: 1em;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

b {
    color: var(--secondary-color);
}

h1 {
    margin: 0.5em;
}

.header {
    font-weight: 500;
    margin: 0;
    color: var(--secondary-color);
    text-align: center;
    font-size: 4em;
    border-bottom: 1px solid var(--secondary-color);
}

.app {
    margin-top: 1em;
    width: 100%;
    height: calc(100% - 6em);
}

.row {
    display: flex;
}

.col {
    height: 100%;
    /* border: 1px solid black; */
}

#imageContainer {
    display: flex;
    width: 100%;
    height: 50%;
}

#imageView {
    width: 70%;
    height: 100%;
}

#metaView {
    padding: 1em;
    height: 100%;
    margin-left: 1em;
    width: calc(30% - 1em);
}

#scatterView {
    border-top: 1px solid var(--secondary-color);
    margin: 0 1em;
    width: calc(100% - 2em);
    height: calc(50% - 2em);
}

#colorView {
    height: 50%;
    width: 100%;
    padding: 1em;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    transition-duration: 0.2s;
}

#colorView:hover {
    border: 1px solid var(--secondary-color);
    transform: translate(7px, -7px);
    box-shadow: -1px 1px 0 0 var(--secondary-color),
        -2px 2px 0 0 var(--secondary-color), -3px 3px 0 0 var(--secondary-color),
        -4px 4px 0 0 var(--secondary-color), -5px 5px 0 0 var(--secondary-color),
        -6px 6px 0 0 var(--secondary-color), -7px 7px 0 0 var(--secondary-color);
}

#colorSimilarsTitle {
    padding: 0.5em;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    margin: 0;
    color: var(--background-color);
}

#colorSimilars {
    height: calc(50% - 3em);
    width: 100%;
    padding: 1em;
    overflow-y: scroll;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

#objectStats {
    height: 50%;
    width: 100%;
    padding: 1em;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.2s;
}

.popout-left {
    border: 1px solid var(--secondary-color);
    transform: translate(7px, -7px);
    box-shadow: -1px 1px 0 0 var(--secondary-color),
        -2px 2px 0 0 var(--secondary-color), -3px 3px 0 0 var(--secondary-color),
        -4px 4px 0 0 var(--secondary-color), -5px 5px 0 0 var(--secondary-color),
        -6px 6px 0 0 var(--secondary-color), -7px 7px 0 0 var(--secondary-color);
}

.popout-right {
    border: 1px solid var(--secondary-color);
    transform: translate(-7px, -7px);
    box-shadow: 1px 1px 0 0 var(--secondary-color),
        2px 2px 0 0 var(--secondary-color), 3px 3px 0 0 var(--secondary-color),
        4px 4px 0 0 var(--secondary-color), 5px 5px 0 0 var(--secondary-color),
        6px 6px 0 0 var(--secondary-color), 7px 7px 0 0 var(--secondary-color);
}

#objectStats .text-container {
    padding: 1em;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
}

#objectSimilarsTitle {
    padding: 0.5em;
    width: 100%;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    margin: 0;
    color: var(--background-color);
}

#objectSimilars {
    height: calc(50% - 3em);
    width: 100%;
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    padding: 1em;
    overflow-y: scroll;
    border-left: 1px solid var(--secondary-color);
}

#timelineView {
    padding: 0 1em;
    width: 100%;
    height: 100%;
}

.svg-text {
    font-size: 1.5em;
}

/* Card in list of similars */
.similar-card {
    height: 6em;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 1em;
    display: flex;
    animation: fadeInAnimation ease 0.2s;
    transition-duration: 0.2s;
}

.similar-card-left:hover,
.similar-card-left.selected-card {
    border: 1px solid var(--secondary-color);
    transform: translate(0.5em, -0.5em);
    box-shadow: -1px 1px 0 0 var(--secondary-color),
        -2px 2px 0 0 var(--secondary-color), -3px 3px 0 0 var(--secondary-color),
        -4px 4px 0 0 var(--secondary-color), -5px 5px 0 0 var(--secondary-color);
}

.similar-card-left.prev-selected-card {
    border: 1px solid var(--primary-color);
    transform: translate(0.5em, -0.5em);
    box-shadow: -1px 1px 0 0 var(--primary-color),
        -2px 2px 0 0 var(--primary-color), -3px 3px 0 0 var(--primary-color),
        -4px 4px 0 0 var(--primary-color), -5px 5px 0 0 var(--primary-color);
}

.similar-card-right:hover,
.similar-card-right.selected-card {
    border: 1px solid var(--secondary-color);
    transform: translate(-5px, -5px);
    box-shadow: 1px 1px 0 0 var(--secondary-color),
        2px 2px 0 0 var(--secondary-color), 3px 3px 0 0 var(--secondary-color),
        4px 4px 0 0 var(--secondary-color), 5px 5px 0 0 var(--secondary-color);
}

.similar-card:last-child {
    border-bottom: none;
    height: 5em;
}

.similar-card .similar-card-thumb {
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.similar-card .similar-card-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.similar-card .similar-card-text {
    margin-left: 1em;
    margin-top: 0.1em;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.similar-card .similar-card-text p {
    line-height: 1em;
    font-size: 1em;
}

.similar-card .similar-card-text b {
    color: var(--secondary-color);
}

/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
