<html>
    <head>
        <title>Boilerplate for Flask & D3</title>
        <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
        />

        <!-- D3.js CDN source -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>

        <!-- custom css & js files -->
        <link rel="stylesheet" href="static/css/style.css" />
    </head>

    <body>
        <div class="header">
            <h1>Visualization of the Floating World</h1>
        </div>
        <div class="app">
            <div class="row" style="height: 50%">
                <div class="col col-3">

				</div>
                <div class="col col-3">

				</div>
                <div class="col col-3">
					
				</div>
            </div>
            <div class="row" style="height: 40%">
                <div class="col col-1">
					<div id="scatter"></div>
				</div>
            </div>
            <div class="row" style="height: 10%">
                <div class="col col-1">
					<div id="timeline"></div>
				</div>
            </div>
        </div>

        <!--Plugin JavaScript file-->
        <script type="text/javascript" src="static/js/dashboard.js"></script>
        <script type="text/javascript" src="static/js/scatter.js"></script>
        <script type="text/javascript" src="static/js/timeline.js"></script>
    </body>
</html>
