<html>
    <head>
        <title>Boilerplate for Flask & D3</title>
        <link
            rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
        />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-ease@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-transition@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-drag@3"></script>

        <link rel="stylesheet" href="static/css/style.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="header">
            <h1>Visualizing the Floating World</h1>
        </div>
        <div class="app">
            <div class="row" style="height: 80%">
                <div class="col" style="width: 25%">
                    <div id="colorSelect"></div>
                    <h3 id="colorSimilarsTitle">Prints with similar colors</h3>
                    <div id="colorSimilars"></div>
                </div>
                <div class="col" style="width: 50%">
                    <div id="imageView"></div>
                    <div id="metaView">
                        <p><b>Title</b>: Some Title</p>
                        <p><b>Artist</b>: Some Artist</p>
                        <p><b>Time</b>: Some Year, Period</p>
                    </div>
                    <div id="scatterView"></div>
                </div>
                <div class="col" style="width: 25%">
                    <div id="objectStats"></div>
                    <h3 id="objectSimilarsTitle">
                        Prints with similar objects
                    </h3>
                    <div id="objectSimilars"></div>
                </div>
            </div>
            <!-- <div class="row" style="height: 25%">
                <div class="col" style="width: 100%">
                </div>
            </div> -->
            <div class="row" style="height: 20%">
                <div class="col" style="width: 100%">
                    <div id="timelineView"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="static/js/dashboard.js"></script>
        <script type="text/javascript" src="static/js/imageView.js"></script>
        <script type="text/javascript" src="static/js/objectView.js"></script>
        <script type="text/javascript" src="static/js/colorView.js"></script>
        <script type="text/javascript" src="static/js/scatterView.js"></script>
        <script type="text/javascript" src="static/js/timelineView.js"></script>
    </body>
</html>
